#contact-section {
  background: #182C61;
  color: #fff;
  width: 100%;
  margin-top: 3rem;
  border-top: 2px solid #ddd;
  height: 420px;
}

.contact-info {
  width: 80%;
  margin: auto;
}

.contact-info p {
  display: flex;
  align-items: center;
}

.contact-info p span {
  margin-left: 8px;
  font-size: 1.2rem;
}

.contact-info img {
  filter: invert(100%) sepia(0%) saturate(7419%)
   hue-rotate(337deg) brightness(108%) contrast(103%)
}