/* Styling contact icon to be fixed */
#contact-icon {
  position: fixed;
  top: 20%;
  left: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Setting width and height of contact icon */
#contact-icon img {
  width: 35px;
  height: 35px;
}

#contact-icon:hover {
  cursor: pointer;
}

/* To give dark background when form is displayed */
.bg-dark-viewport {
  position: fixed;
  top: 0;
  margin-left: -.5rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
}

/* Hiding form by default */
#modal-form {
  position: absolute;
  left: 50%;
  top: -800px;
  width: 500px;
  margin: auto;
  padding: 2rem;
  background: #fff;
  transform: translate(-50%);
  border: 1px solid #ddd;
  transition: top .8s;
  border-radius: 8px;
}

#modal-form h2 {
  text-align: center;
}

#modal-form label {
  display: inline-block;
  font-size: 1.1rem;
}

/* Highlighting * (mandatory) */
#modal-form sup {
  color: #ff0000;
  font-weight: bold;
  font-size: 1rem;
}

/* Positioning close button in top right corner of form */
#modal-form span {
  position: absolute;
  right: 20px;
  top: 8px;
  font-size: 30px;
  font-weight: bold;
  color: #ddd;
  transition: color .3s ease-in;
}

#modal-form span:hover {
  color: #000;
  cursor: pointer;
}

/* Displaying input field as 100% */
#modal-form input {
  width: 100%;
  border: 3px solid #ddd;
  box-sizing: border-box;
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

/* Highlighting input field on focus */
#modal-form input:focus {
  border: 3px solid #7d5fff;
  outline: none;
  transition: border .4s;
}

#modal-form button {
  width: 150px;
  padding: .7rem;
  background-color: #7d5fff;
  color: #fff;
  margin-top: 1rem;
  border: 0;
  border-radius: 8px;
  font-size: .8rem;
}

#modal-form button:hover {
  cursor: pointer;
  background-color: #8c72fd;
  transition: .8s;
}

#modal-form textarea {
  margin-top: 1rem;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  height: 130px;
  border: 3px solid #ddd;
}

/* Highlighting textarea field on focus */
#modal-form textarea:focus {
  border: 3px solid #7d5fff;
  transition: border .4s;
  outline: none;
}

/* Reducing size of form on small devices */
@media (max-width: 600px) {
  #modal-form {
    width: 70%;
  }
}